<a no-open href="https://google.com"
  >Lien qui ne s'ouvre pas grâce à l'attribut no-open</a
>
<a
  confirm
  confirm-message="Es-tu CERTAIN de vouloir te rendre dans la POUBELLE de Elon Musk? Dernière chance."
  href="https://twitter.com"
  >Aller sur Twitter</a
>
<p nonStandAloneAttribute background-color="blue" base-color="purple">
  non-standalone works 1!
</p>
<p nonStandAloneAttribute background-color="green">non-standalone works 2!</p>
<p nonStandAloneAttribute>
  non-standalone Lorem ipsum dolor, sit amet consectetur adipisicing elit.
  Eaque, iste?
</p>

<counter [initial-value]="5" [step]="5"></counter>

<div class="employee-list">
  <user-profile
  user-profile
  first-name="Seb"
  last-name="Pot"
  job="Développeur"
  revenue="0.50"
></user-profile>
<user-profile
  user-profile
  first-name="John"
  last-name="Doe"
  job="Cuistot"
  revenue="1600"
></user-profile>
<user-profile
  user-profile
  first-name="Jane"
  last-name="Doe"
  job="Serveuse"
  revenue="1500"
></user-profile>
</div>

